h2 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    text-align: left;
    font-size: 18pt;
    text-decoration: underline;
    letter-spacing: 0.25em;
}
h1 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
    text-decoration: underline;
    letter-spacing: 0.25em;
}

body {
    color:#404040;
    font-size: 11pt;
    font-family: Georgia, Garamond, sans-serif;
}

.image{
    text-align: right;
}
ul {
    list-style-type: square;
}

.link {
    color: #A4A400;
}