body {
    font-family: Helvetica;
    font-size: 12pt;
}

h1 {
    background-color: gold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 22pt;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18pt;
}
h2 span {
    background-color: gold;
}

table, td {
    background-color: red;
    border: 1pt solid;
    border-color: darkblue;
    font-size: 16pt;
}
table a {
    color: darkblue;
}
p a:hover {
    font-style: italic;
    background-color: gold;
}

ul {
    list-style-image: url('favicon.ico');
}
li {
    font-size: 13pt;
}

.fine {
    text-align: center;
    font-size: 24pt;
    font-family: cursive;
}