#banner { /*Stile del banner in alto nella pagina*/
    background-color: darkslategrey;
    color: white;
    font-family: Verdana, sans-serif;
    margin: 0%;
    padding: 5pt;
}

#banner a { /*Allinea al centro il testo nel banner in alto nella pagina*/
    vertical-align: middle;
}

#w3c { /*Stile del banner in basso nella pagina*/
    background-color: darkslategray;
    vertical-align: middle;
    padding: 5pt;
    margin-top: 1em;
}

body {
margin: 0%;
font-family: Verdana, sans-serif;
}

#frame {
    margin: 0%;
}

h1, p, h2 {
    text-align: center;
    color: darkslategray;
}


#list { /*Stile della tabella che mostra i film*/
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #dad9d4;
    border-collapse: collapse;
    width: 700px;

}

tr:nth-child(even) {background: #dad9d4;} /*Colori alternati per ogni riga della tabella*/

#list td {
    text-align: center;
    
}

#list th{
    font-weight: bold;
}

#searchall, #searchkevin { /*Stile delle due form*/
    margin: auto;
    width: 24em;
    padding: 1em;
    background-color: #dad9d4;
    margin-top: 1em;
}

#errMsg p { /*Stile del messaggio di errore*/
    color: red;
    font-weight: bold;
}

caption { /*Stile del caption della tabella quando si ricarica la pagina*/
    font-style: italic;
    text-align: center;
}