body { /*Modifica il body intero della pagina*/
    background-image: url('https://courses.cs.washington.edu/courses/cse190m/11sp/homework/2/background.png');
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 8pt;
    margin: 0%;
}

.banner {/*Modifica il titolo della pagina "Rancid Tomatoes*/
    height: 50px;
    margin: auto;
    width: 50%;
    
}
.bannerpg { /*Immagine di background del titolo della pagina "Rancid Tomatoes"*/
    background-image: url('https://courses.cs.washington.edu/courses/cse190m/11sp/homework/2/bannerbg.png');
    
}

h1 { /*Modifica tutti i titoli h1 dentro al body*/
    font-weight: bold;
    font-size: 24pt;
    font-family: Tahoma, Verdana, sans-serif;
    text-align: center;
    text-shadow: 3px 3px #999999;
}

.areatesto { /*Area di testo principale al centro della pagina*/
    width: 800px;
    border: 4px solid #999999;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    overflow: hidden;
}

.overview{ /*Modifica il div che contiene l'immagina di locandina e le informazioni riguardo al film*/
    float: right;
    width: 250px;
    top: 0;
    right: 0;
    background-color: #A2B964;
}

.overview dl { /*Modifica il tag della lista di definizioni dentro il div con attributo "overview"*/
    margin: 10pt;
    font-size: 8pt;
    font-family: Arial, sans-serif;
}

.overview dt { /*Modifica il tag elemento della lista dl dentro il div con attributo "overview"*/
    font-weight: bold;
}

.overview dd { /*Modifica il tag definizione dentro il div con attributo "overview"*/
    margin-bottom: 10pt;
}

.overview ul { /*Modifica il tag della lista non ordinata dentro il div con attributo "overview"*/
    list-style-type: none;
}

.reviewsandrotten { /*Sezione che contiene l'immagine "Rotten" o "Fresh in alto e tutte le recensioni*/
    width: 550px;
    float: left;
}

.rotten { /*Modifica il posizionamento e il formato dell'immagine "Rotten" o "Fresh" e del voto percentuale*/
    vertical-align: top;
    height: 83px;
    background-image: url('https://courses.cs.washington.edu/courses/cse190m/11sp/homework/2/rbg.png');
    font-size: 48pt;
    color: red;
    font-weight: bold;
}
.rotten span { /*Serve ad allineare verticalmente il voto percentuale al centro*/
    vertical-align: top;
}

.columnL { /*Formato del div della colonna delle recensioni di sinistra*/
    float: left;
    width: 47%;
    margin: 2% 1% 2% 2%;
}

.columnR { /*Formato del div della colonna delle recensioni di destra*/
    float: right;
    width: 47%;
    margin: 2% 2% 2% 1%;
}

.columnR img, .columnL img { /*Sposta l'immagine all'interno di ogni recensione in alto a sinistra*/
    float: left;
    top: 0%;
    left: 0%;
    padding : 5px;
}

#review { /*Modifica il box di ogni recensione*/
    border: 2px solid gray;
    background-color: #E8DC9B;
    border-radius: 10px;
    overflow: hidden;
    clear: both;
}
#review p { /*Crea un margine a ogni <p> delle recensioni*/
    margin: 8px;

}
#review q { /*Formatta e modifica il testo all'interno del box di ogni recensione*/
    text-align: justify;
    text-indent: auto;
    font-weight: bold;
    font-size: 8pt;
}

#reviewer { /*Formatta il testo di ogni recensore e della pubblicazione*/
    font-style: italic;
    vertical-align: 20pt;
}

.pagina { /*Fa in modo che la barra che contiene il numero di recensioni sia sotto tutto*/
    clear: both;
}

.pagina p { /*Formatta il box della barra con il numero di recensioni*/
    text-align: center;
    background-color: #A2B964;
    margin: 0%;
    padding: 5px;
    
}

.check { /*Sposta i validatori W3C a destra e li fissa*/
    float: right;
    position: fixed;
    bottom: 0pt;
    right: 0pt;
    opacity: 50%;
}

.check p { /*elimina margine ridondante dei validatori*/
    margin: 0%;
}