/*Il documento applica lo stile a i files ../login/login.php/ e ../login/signup.php*/

.signup,
.login {
    margin: auto;
    text-align: center;
}

.middleimg {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 125pt;
}

p,
.err {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

fieldset {
    margin: 20px 20px 20px 20px;
    display: inline-block;
    overflow: auto;
    border: 2pt solid #909090;
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.25));

    border-radius: 12px;
}

label {
    padding-top: 1em;
    float: left;
    font-family: 'Open Sans', sans-serif;
    clear: both;
}

::placeholder {
    color: cornflowerblue;
}

#submit_usandpassw { /*il bottone di login e signup hanno lo stesso ID*/
    margin: auto;
    border-radius: 12px;
    transition-duration: 0.5s;
    font-size: 16px;
    background-color: white;
    border: 2px solid darkcyan;
}

#submit_usandpassw:hover { /*il bottone di login e signup hanno lo stesso ID*/
    background-color: darkcyan;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    color: white;
}

.err {
    color: red;
}