/* Il documento si occupa di applicare lo stile al file ../profile/profile.php*/

h2, .for_css, p {
    line-height: 18px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #202020;
    text-align: center;
}

.for_css {
    font-size: 16;
}

#name,
#lastname,
#birth,
#dateofcreation {
    line-height: 10px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #909090;
}

.all_info_container {
    display: flex;
    flex-direction: column;
}

.profile_container,
.admin_container {
    display: flex;
    width: 100%;
    margin-bottom: 20pt;
}

.profile_container {
    clear: right;
}

.profile_info,
.table_saved {
    width: 50%;
}


.id_all_authors {
    width: 33%;
    font-size: 13px;

}

.add_new_author {
    width: 33%;
    font-size: 13px;
}

.add_new_book {
    width: 34%;
    font-size: 13px;
}

.profile_info div {
    text-align: center;
    margin-top: 1em;
    width: 100pt;
}

.saved_books,
.saved_id_authors {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    border: 2pt solid #909090;
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.25));

    border-radius: 12px;
}

.saved_books td,
.saved_id_authors td {
    white-space: nowrap;
    padding-right: 1em;
    padding-left: 1em;
}

.result_author,
.result_book {
    text-align: center;
    color: red;
    font-weight: 100;
}

.profile_info div {
    margin: auto;
    margin-top: 1em;
}

#remove,
#removed {
    text-align: center;
    display: block;
    margin: auto;
}

fieldset {
    margin: 20px 20px 20px 20px;
    display: inline-block;
    overflow: auto;
    border: 2pt solid #909090;
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.25));

    border-radius: 12px;
}

label {
    padding-top: 1em;
    float: left;
    font-family: 'Open Sans', sans-serif;
    clear: both;
}

::placeholder {
    color: cornflowerblue;
}

#admin_book,
#admin_author {
    margin: auto;
    border-radius: 12px;
    transition-duration: 0.5s;
    font-size: 16px;
    background-color: white;
    border: 2px solid darkcyan;
}

#admin_book:hover,
#admin_author:hover {
    background-color: darkcyan;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    color: white;
}

td, th, label {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}